<section class="authenticator"> 
 
  <div class="enterAccount">
    <form action="/loginPost" method="post">
      <div class="form-control">
        <label for="loginEmail">E-mail:</label>
        <input
          type="email"
          name="loginEmail"
          id="loginEmail"
          placeholder="Digite seu E-mail"
        />
      </div>
      <div class="form-control">
        <label for="loginPassword">Senha:</label>
        <input
          type="password"
          name="loginPassword"
          id="loginPassword"
          placeholder="Digite sua Senha"
        />
      </div>
      <input type="submit" class="button" value="Entrar" />
    </form>
  </div>

  <div class="createAccount">
    <form action="/accountPost" method="post">
      <div class="form-control">
        <label for="name">Nome:</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Digite seu nome"
        />
      </div>
      <div class="form-control">
        <label for="email">E-mail:</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Digite seu E-mail"
        />
      </div>
      <div class="form-control">
        <label for="password">Senha:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Digite sua Senha"
        />
      </div>
      <div class="form-control">
        <label for="confirmPassword">Confirme sua senha:</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Digite Confirme sua senha"
        />
      </div>
      <input type="submit" class="button" value="Criar Conta" />
    </form>
  </div>
</section>