<section>
  <div class="createAccount">
    <form action="" method="post">
      <div class="form-control">
        <label for="name">Nome:</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Digite seu nome"
        />
      </div>
      <div class="form-control">
        <label for="email">E-mail:</label>
        <input
          type="email"
          name="naemailme"
          id="naemailme"
          placeholder="Digite seu E-mail"
        />
      </div>
      <div class="form-control">
        <label for="password">Senha:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Digite sua Senha"
        />
      </div>
      <div class="form-control">
        <label for="confirmPassword">Confirme sua senha:</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Digite Confirme sua senha"
        />
      </div>
    </form>
    <button type="submit">Criar Conta</button>
  </div>

  <div class="enterAccount">
    <form action="" method="post">
      <div class="form-control">
        <label for="email">E-mail:</label>
        <input
          type="email"
          name="naemailme"
          id="naemailme"
          placeholder="Digite seu E-mail"
        />
      </div>
      <div class="form-control">
        <label for="password">Senha:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Digite sua Senha"
        />
      </div>     
    </form>
    <button type="submit">Entrar</button>
  </div>
</section>