<section class="section-input">
  <form action="/todo/add" method="post">
    <div class="form-control">
      <label for="title">Tarefa:</label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Digite sua tarefa..."
      />
    </div>
    <input class="button" type="submit" value="Criar Tarefa" />
  </form>
</section>

<section class="section-todo">
  {{#each resultData}}
    <div class="container-todo">
      <div class="title">
        <p>{{this.title}}</p>

      </div>
      <div class="info">
        <p>{{this.dataDeCriacao}}</p>

        <form action="/todo/concluido" method="post">
          <input type="hidden" name="id" value="{{this.id}}" />

          <button type="submit" class="check">
            {{#if this.concluded}}
              <i class="bi bi-check2-circle concluded"></i>
            {{else}}
              <i class="bi bi-check2-circle"></i>
            {{/if}}

          </button>
          <button type="submit" class="del"><i
              class="bi bi-x-circle-fill"
            ></i></button>

        </form>
      </div>
    </div>
  {{/each}}
</section>